.header {
  padding: 30px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.header

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.header__mode {
  font-size: 12px;
  padding-left: 8px;
}

.countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.card {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .countries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  
.header__logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 234px;
  height: 33px;
}

  .header__btn {
    font-size: 16px;
  }

  .header__btn img {
    width: 15px;
    height: 14px;
  }
}

.main__black {
  font-weight: 600;
}